/* https://getbootstrap.com/docs/5.2/layout/containers/ */
/* Name that color - https://chir.ag/projects/name-that-color/ */
:root {
    --xx-large-container: 1400px;
    --x-large-container: 1200px;
    --large-container: 992px;
    --medium-container: 768px;
    --small-container: 576px;
    --extra-container: 576px; /* use with less than */

    --container-width-wide: 87.5rem;
    --container-width-regular: 75rem;
    --container-width-full: 100%;

    /* Color scheme */
    --revolver: hsl(270, 35%, 20%);
    --spray: hsl(174, 88%, 66%);
    --conifer: hsl(79, 68%, 54%);
    --deep-forest-green: hsl(102, 66%, 13%);
    --sun: hsl(43, 95%, 53%);
    --sun-opacity: hsla(43, 96%, 53%, 0.8);
    --iceberg: hsl(164, 57%, 88%);

    --font-family-bangers: 'Bangers', cursive;
    --font-family-oswald-extra-light: 'Oswald Extra Light', sans-serif;
    --font-family-oswald: 'Oswald Regular', sans-serif;
    --font-family-oswald-semi-bold: 'Oswald Semi-Bold', sans-serif;
    --font-family-heading: var(--font-family-bangers);
    --font-family-body: var(--font-family-oswald-extra-light);
    --font-family-weight-light: 200;
    --font-family-weight-regular: 400;
    --font-family-weight-bold: 600;
    --font-color-heading: var(--deep-forest-green);
    --font-color-body: var(--revolver);
    --letter-spacing-heading: 0.1em;
    --letter-spacing-body: 0.05em;

    --standard-padding: 1rem;
    --standard-margin: 1rem;
    --standard-gap: 1rem;

        /* https://css-irl.info/drop-shadow-the-underrated-css-filter/ */
    --drop-shadow: drop-shadow(0.35rem 0.35rem 0.4rem hsla(0, 0%, 0%, 0.5));
    --light-box-shadow: hsla(210, 8%, 62%, 0.2) 0px 8px 24px;
    --dark-box-shadow: hsla(0, 0%, 0%, 0.35) 0px 5px 15px;
    --modal-box-shadow: 0 3px 7px hsla(0, 0%, 0%, 0.3);

    --z-index-negative-100: -100;
    --z-index-100: 100;
    --z-index-200: 200;

    --bullseye-cursor: url("/assets/media/images/fa-bullseye.png") 16 16, crosshair;

    /*svg colours*/
    --light-cyan: hsl(167, 100%, 94%);
    --light-cyan-2: hsl(168, 95%, 92%);
    --aero-blue: hsl(168, 91%, 87%);
    --pale-blue: hsl(167, 86%, 80%);
    --aquamarine: hsl(168, 84%, 70%);
    --aquamarine-2: hsl(171, 79%, 67%);
    --turquoise: hsl(177, 69%, 58%);
    --battery-charged-blue: hsl(186, 74%, 48%);
    --battery-charged-blue-2: hsl(187, 82%, 46%);

    --sky-gradient-1: var(--light-cyan);
    --sky-gradient-2: var(--light-cyan-2);
    --sky-gradient-3: var(--aero-blue);
    --sky-gradient-4: var(--pale-blue);
    --sky-gradient-5: var(--aquamarine);
    --sky-gradient-6: var(--aquamarine-2);
    --sky-gradient-7: var(--turquoise);
    --sky-gradient-8: var(--battery-charged-blue);
    --sky-gradient-9: var(--battery-charged-blue-2);

    --sky-linear-gradient: linear-gradient(var(--sky-gradient-1) 0%, var(--sky-gradient-2) 8%, var(--sky-gradient-3) 20%, var(--sky-gradient-4) 36%, var(--sky-gradient-5) 53%, var(--sky-gradient-6) 62%, var(--sky-gradient-7) 77%, var(--sky-gradient-8) 95%, var(--sky-gradient-9) 100%);
}

.dark {
    --sky-linear-gradient: linear-gradient(to bottom, hsl(256, 20%, 11%) 85%, hsl(244, 89%, 4%) 100%);
}

.mobile {
    --game-grid-columns: 3;
    --game-grid-row: 2;
}

.desktop {
    --game-grid-columns: 4;
    --game-grid-row: 4;
}

/* @see https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/style.css#L112 */
.visually-hidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}