/* https://getbootstrap.com/docs/5.2/layout/containers/ */
:root {
    --xx-large-container: 1400px;
    --x-large-container: 1200px;
    --large-container: 992px;
    --medium-container: 768px;
    --small-container: 576px;
    --extra-container: 576px; /* use with less than */

    --azureish-white: hsl(202, 46%, 91%);
    --pistachio: hsl(73, 89%, 40%);
    --japanese-indigo: hsl(203, 26%, 24%);
    --dark-bronze: hsl(75, 97%, 13%);
    --brown-nose: hsl(28, 58%, 27%);
    --sky-gradient-day: linear-gradient(to bottom, hsl(200, 62%, 47%) 0%, hsl(212, 65%, 34%) 100%);
    --sky-gradient-night: linear-gradient(to bottom, hsl(256, 20%, 11%) 85%, hsl(244, 89%, 4%) 100%);

    --font-family-bangers: 'Bangers', cursive;
    --font-family-oswald-extra-light: 'Oswald Extra Light', sans-serif;
    --font-family-oswald: 'Oswald Regular', sans-serif;
    --font-family-oswald-semi-bold: 'Oswald Semi-Bold', sans-serif;
    --font-family-heading: var(--font-family-bangers);
    --font-family-body: var(--font-family-oswald-extra-light);
    --font-family-weight-light: 200;
    --font-family-weight-regular: 400;
    --font-family-weight-bold: 600;
    --font-color-heading: var(--pistachio);
    --font-color-body: var(--azureish-white);
    --letter-spacing-heading: 0.1em;
    --letter-spacing-body: 0.05em;

    --standard-padding: 1rem;
    --standard-margin: 1rem;
    --standard-gap: 1rem;

    --light-box-shadow: hsla(210, 8%, 62%, 0.2) 0px 8px 24px;
    --dark-box-shadow: hsla(0, 0%, 0%, 0.35) 0px 5px 15px;
    --modal-box-shadow: 0 3px 7px hsla(0, 0%, 0%, 0.3);
    /* https://css-irl.info/drop-shadow-the-underrated-css-filter/ */
    --drop-shadow: drop-shadow(0.35rem 0.35rem 0.4rem hsla(0, 0%, 0%, 0.5));

    --z-index-behind-neg-100: -100;
    --z-index-behind-100: 100;

    --bullseye-cursor: url("/assets/media/images/fa-bullseye.png") 16 16, crosshair;

    /*svg colours*/
    --light-cyan: hsl(167, 100%, 94%);
    --light-cyan-2: hsl(168, 95%, 92%);
    --aero-blue: hsl(168, 91%, 87%);
    --pale-blue: hsl(167, 86%, 80%);
    --aquamarine: hsl(168, 84%, 70%);
    --aquamarine-2: hsl(171, 79%, 67%);
    --turquoise: hsl(177, 69%, 58%);
    --battery-charged-blue: hsl(186, 74%, 48%);
    --battery-charged-blue-2: hsl(187, 82%, 46%);

    --sky-gradient-1: var(--light-cyan);
    --sky-gradient-2: var(--light-cyan-2);
    --sky-gradient-3: var(--aero-blue);
    --sky-gradient-4: var(--pale-blue);
    --sky-gradient-5: var(--aquamarine);
    --sky-gradient-6: var(--aquamarine-2);
    --sky-gradient-7: var(--turquoise);
    --sky-gradient-8: var(--battery-charged-blue);
    --sky-gradient-9: var(--battery-charged-blue-2);

    --sky-linear-gradient: linear-gradient(var(--sky-gradient-1) 0%, var(--sky-gradient-2) 8%, var(--sky-gradient-3) 20%, var(--sky-gradient-4) 36%, var(--sky-gradient-5) 53%, var(--sky-gradient-6) 62%, var(--sky-gradient-7) 77%, var(--sky-gradient-8) 95%, var(--sky-gradient-9) 100%);

}


/*@custom-media -- small (width >= 400px);*/

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        color-scheme: dark;*/
/*    }*/
/*}*/

.sky-gradient-1 {
    stop-color: var(--light-cyan);
}