/* grid or flex */
.layered-content {
    display: grid;
    place-items: center;
}

.layered-content > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.layered-content > .layered-content__media {
    z-index: var(--z-index-behind);
}