.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    padding: 1.3rem;
    position: absolute;
    top: 20%;
    background-color: var(--sun);
    align-self: center;
    justify-self: center;
    z-index: var(--z-index-200);
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

.modal .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.modal__button--open {
    position: absolute;
    bottom: 150px;
}

.modal__overlay {
    margin: 0;
    position: fixed;
    inset: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: var(--z-index-100);
}

.modal__media {
    height: 100%;
    object-fit: contain;
}

.modal-play input {
    width: 100%;
    font-size: 48px;
    border-color: var(--deep-forest-green);
    outline-color: var(--deep-forest-green);
    color: var(--deep-forest-green);
}

.modal-instructions h3 {
    display: none;
}

@media only screen and (width >= 768px) {
    .modal-instructions h3 {
        display: block;
    }
}