.hammer {
  height: 100px;
  aspect-ratio: 1;
  position: absolute;
  //transform: translate(-50%, -50%);
  //transition-duration: 200ms;
  //transition-timing-function: ease-out;
  //animation: cursor-animate 550ms infinite alternate;
  background: center / contain no-repeat url("../media/images/svg/hammer.svg");
}