.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__area {
    display: flex;
    height: 35vh;
    transition: transform 0.4s;
}

.carousel__page {
    flex: 1;
    min-width: 100%;
}