/* https://codepen.io/icao/pen/ErKqjj */
/* https://codepen.io/developeraspire5/pen/GRMBxWN */
/* https://codepen.io/kevinpowell/pen/XQEPvB */
@media only screen and (width >= 811px) {
    .active .hammer {
        height: 100px;
        aspect-ratio: 1 / 1;
        position: absolute;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        background: center / contain no-repeat url("../../media/images/svg/hammer.svg");
        z-index: var(--z-index-200);
    }
}

@keyframes hammer-hit {
    0%, 60% {
        transform: translateY(20%) translateX(-40%) rotateZ(-54deg);
    }
    60%, 90% {
        transform: translateY(20%) translateX(-40%) rotateZ(-50deg);
    }
    100% {
        transform: translateY(20%) translateX(-40%) rotateZ(-54deg);
    }
}

@keyframes shake {
    0% {
        transform: scale(2) translate(3px, 0);
    }
    50% {
        transform: scale(2) translate(-3px, 0);
    }
    100% {
        transform: scale(2) translate(0, 0);
    }
}