/*To do with grid*/
/*https://www.youtube.com/watch?v=1zDRqHifoX0*/
.holes {
    width: 100vw;
    /*height: 50vh;*/
    align-self: end;
}

.holes-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--game-grid-columns), 1fr);
    grid-template-rows: repeat(var(--game-grid-row), 1fr);
}

@media only screen and (width >= 768px) {
    .holes-container {
        grid-template-columns: repeat(var(--game-grid-columns), 1fr);
        grid-template-rows: repeat(var(--game-grid-row), 1fr);
    }
}

.hole {
    --transform: .4s ease-in-out;
    position: relative;
    max-width: 15rem;
    margin-inline: auto;
    transition: .4s ease;
}

.marmot__container {
    aspect-ratio: 1 / 1.5;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    /*transition: transform var(--transform);*/
}

.marmot__container:hover {
    /*transform: scale(1.1);*/
}

.hole__container {
    position: absolute;
    inset: auto 0 0;
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 50%;
    margin-inline: auto;
    object-fit: cover;
    background-color: brown;
    border: 2px solid black;
}

.marmot__img {
    position: relative;
    left: 1em;
    bottom: -6em;
    z-index: 2;
    transform: scale(2);
    transition: transform var(--transform);
}

.marmot__container:hover .marmot__img {
    transform: scale(2) translateY(-1rem);
}