#game-area {
    height: 100vh;
    display: grid;
    gap: 1rem;
    position: relative;
    background: var(--sky-linear-gradient);
    transition: all .4s ease-in-out;
    background: url("../../media/images/svg/background.svg") center / cover no-repeat,
    var(--sky-linear-gradient);
}

#game-area.active {
    overflow: hidden;
    cursor: var(--bullseye-cursor);
}

#game-area svg {
    height: 100vh;
}

#game-area.active .text {
    height: 100vh;
    margin-top: 0;
}

#game-area .text .title {
    margin-top: 1em;
}

#game-area.active {
    grid-template-rows: min-content;
}

#game-area .title {
    width: fit-content;
    height: fit-content;
}

#game-area.active .game-buttons,
#game-area.active .game-buttons > div:first-child,
#game-area.active .game-buttons .marmot-hit h4 {
    text-align: center;
}

#game-area .game-buttons button {
    margin-top: 0;
}

#game-area.active .game-buttons .marmot-hit {
    display: grid;
    grid-auto-flow: column;
}

#game-area.active .game-buttons .marmot-hit__left {
    margin-top: 0;
}

.scoreboard > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
}

.scoreboard > div > div {
    margin-top: 0;
}