#modal-settings h2 {
    margin-top: 0;
}

.settings-buttons {
    display: grid;
    place-items: center;
}

.settings-buttons strong {
    align-self: end;
}

.settings-buttons label {
    align-self: start;
}
